@model App.ViewModels.RaceDetailsViewModel

@{
    ViewData["Title"] = "DetailsRace";
}

<h1>@Model.HeaderTitle</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Race Name
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Course.Id
            </td>
            <td>
                @Model.HeaderTitle
            </td>
            <td>
                @Model.Course.EventDate.ToShortDateString()
            </td>
            <td>
                <a asp-controller="Races" asp-action="Edit">Edit race n°@Model.Course.Id</a> |
                <a asp-controller="Races" asp-action="Delete">Delete race n°@Model.Course.Id</a>
            </td>
        </tr>
    </tbody>
</table>
